{% load get_item %}

<div aria-live="polite" aria-atomic="true" class="position-relative">
  <div class="toast-container top-0 end-0 pe-4">
    {% for error in form.errors|get_item:'__all__' %}
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
      <div class="toast-header bg-danger text-white">
        <strong class="me-auto">Lỗi</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        {{ error }}
      </div>
    </div>
    {% endfor %}

    {% for message in messages %}
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">

      {% if message.tags == 'error' %}
      <div class="toast-header bg-danger text-white">
        <strong class="me-auto">Lỗi</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>

      {% elif message.tags == 'warning' %}
      <div class="toast-header bg-warning text-dark">
        <strong class="me-auto">Cảnh báo</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>

      {% else %}
      <div class="toast-header bg-primary text-white">
        <strong class="me-auto">Thông báo</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      {% endif %}

      <div class="toast-body">
        {{ message|safe }}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<style>
  .toast-container {
    padding-top: 5rem;
  }
</style>
