{% extends "base.html" %}

{% block title %}
Quản lý thiết bị
{% endblock title %}

{% block navigation %}
{% include "navigation.html" with path='manager' %}
{% endblock navigation %}

{% block main %}
<div class="container row mx-auto mt-5">
  <div class="col-3 pe-5">
    {% include 'admin_sidebar.html' with path='products' %}

    {{ form.errors }}
  </div>

  <div class="col">
    <form method="post" class="text-end">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Thêm thiết bị mới</button>
    </form>

    <div class="mt-5 table-responsive">
      <h4 class="mb-4">Danh sách thiết bị</h4>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Mã thiết bị</th>
            <th scope="col">Trạng thái</th>
            <th scope="col" class="text-center">Tạo BARCODE</th>
          </tr>
        </thead>

        <tbody class="load-fade">
          {% for device in devices %}
          <tr>
            <td>{{ device.id }}</td>
            <td>{{ device.status_display }}</td>
            <td class="text-center">
              <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                onclick="generateBarcode(id='{{ device.id }}')">
                <i class="fa-solid fa-barcode"></i>
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Code</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <svg id="barcode"></svg>
      </div>
    </div>
  </div>
</div>
{% endblock main %}

{% block footer %}
{% endblock footer %}

{% block style %}
<style>
</style>
{% endblock style %}

{% block script %}
<!-- Barcode Script -->
{% include 'barcode.html' %}
<script>
  const generateBarcode = id => {
    JsBarcode("#barcode", id)
  }
</script>
{% endblock script %}
