{% extends "base.html" %}

{% load static %}
{% load currency_vnd %}
{% block title %}
Trang cá nhân
{% endblock title %}

{% block navigation %}
{% include "navigation.html" with path='profile' %}
{% endblock navigation %}

{% block main %}
<div class="container my-4 profile-container">
  {% include 'authentication/layouts/personal_navtabs.html' with path='auth_order' %}

  <div class="py-4 px-5 border border-top-0 rounded-bottom bg-body-tertiary shadow-sm load-fade">
    <div>
      <h5 class="mb-3"><i class="fa-solid fa-receipt me-2"></i>Lịch sử mua hàng</h5>
      <div class="table-responsive">
        <table class="table table-hover table-borderless">
          <thead>
            <tr>
              <th scope="col">Mã đơn hàng</th>
              <th scope="col">Ngày đặt hàng</th>
              <th scope="col">Tổng tiền</th>
              <th scope="col">Trạng thái</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for order in orders %}
            <tr>
              <td>{{ order.id }}</td>
              <td>{{ order.created_at|date:"d-m-Y H:i" }}</td>
              <td>{{ order.price|currency_vnd  }}</td>
              <td>{{ order.status_display }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
  {% endblock main %}

  {% block style %}
  <style>
    .nav-link {
      height: 36px;
    }

    .profile-container {
      max-width: 600px;
    }
  </style>
  {% endblock style %}

  {% block script %}
  {% endblock script %}
