{% extends "base.html" %}

{% block title %}
Example
{% endblock title %}

{% block navigation %}
{% include "navigation.html" with path='profile' %}
{% endblock navigation %}

{% block main %}
<div class="container change-password-container my-5">
  <h4 class="mb-4">Đổi mật khẩu</h4>

  <form method="post" class="bg-body-tertiary border shadow-sm rounded load-fade py-4 p-5">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">Mật khẩu cũ</label>
      <input type="password" name="old_password" class="form-control" id="old_password" value="{{ form.old_password.value|default_if_none:'' }}" autofocus>
      {% include 'field_errors.html' with name='old_password' %}
    </div>
    <div class="mb-3">
      <label class="form-label">Mật khẩu mới</label>
      <input type="password" name="new_password" class="form-control" id="new_password" value="{{ form.new_password.value|default_if_none:'' }}">
      {% include 'field_errors.html' with name='new_password' %}
    </div>
    <div class="mb-4">
      <label class="form-label">Nhập lại mật khẩu mới</label>
      <input type="password" name="new_password_again" class="form-control" id="new_password_again"
        value="{{ form.new_password_again.value|default_if_none:'' }}">
      {% include 'field_errors.html' with name='new_password_again' %}
    </div>

    <div class="d-grid mb-3">
      <button type="submit" class="btn btn-primary" id="change_password_btn">Đổi mật khẩu</button>
    </div>
  </form>
</div>
{% endblock main %}

{% block footer %}
{% endblock footer %}

{% block style %}
<style>
  .change-password-container {
    max-width: 500px;
  }
</style>
{% endblock style %}

{% block script %}
<script>
</script>
{% endblock script %}
