{% extends "base.html" %}

{% load static %}

{% block title %}
Trang cá nhân
{% endblock title %}

{% block navigation %}
{% include "navigation.html" with path='profile' %}
{% endblock navigation %}

{% block main %}
<div class="container my-4 profile-container">
  {% include 'authentication/layouts/personal_navtabs.html' with path='user_profile' %}

  <div class="py-4 px-5 border border-top-0 rounded-bottom bg-body-tertiary shadow-sm load-fade">
    <div>
      <h5 class="mb-3"><i class="fa-solid fa-user me-1"></i> Thông tin về tài khoản</h5>
      <div class="row mb-3">
        <div class="col">Điểm tích lũy hiện tại:</div>
        <div class="col">{{ user.points }}</div>
      </div>
      <div class="row mb-3">
        <div class="col">Loại tài khoản:</div>
        <div class="col">{{ user.get_role_display }}</div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <blockquote class="blockquote">
            <p class="fs-6">Mật khẩu:</p>
          </blockquote>
          <figure>
            <figcaption class="blockquote-footer">Cách đây {{ user.get_delta_password_change.days }} ngày</figcaption>
          </figure>
        </div>
        <div class="col">
          <a href="{% url 'user_change_password' %}">
            <i class="fa-solid fa-key"></i> Đổi mật khẩu
          </a>
        </div>
      </div>
    </div>

    <hr class="my-4">

    <form method="post">
      {% csrf_token %}
      <h5 class="mb-3"><i class="fa-solid fa-address-card me-1"></i> Thông tin cá nhân</h5>

      <div class="mb-3">
        <label for="phone_number_input" class="form-label">Số điện thoại</label>
        <input class="form-control" name="phone_number" id="phone_number_input" placeholder="0 XXX XXX XXX"
           value="{{ form.phone_number.value|default_if_none:'' }}" >
        {% include 'field_errors.html' with name='phone_number' %}
      </div>

      <div class="mb-3">
        <label for="email_input" class="form-label">Địa chỉ email</label>
        <input type="text" class="form-control" name="email" id="email_input" placeholder="email@mail.com"
          value="{{ form.email.value|default_if_none:'' }}">
        {% include 'field_errors.html' with name='email' %}
      </div>

      <div class="row mb-4">
        <label for="last_name_input" class="form-label">Họ và tên</label>

        <div class="col">
          <input class="form-control" name="last_name" id="last_name_input" placeholder="Họ"
            value="{{ form.last_name.value|default_if_none:'' }}">
          {% include 'field_errors.html' with name='last_name' %}
        </div>

        <div class="col">
          <input class="form-control" name="first_name" id="first_name_input" placeholder="Tên"
            value="{{ form.first_name.value|default_if_none:'' }}">
          {% include 'field_errors.html' with name='first_name' %}
        </div>
      </div>

      <div>
        <button type="submit" id="update_profile_btn" class="btn btn-primary mb-3">Cập nhật</button>
      </div>
    </form>
  </div>
</div>
{% endblock main %}

{% block style %}
<style>
  .nav-link {
    height: 36px;
  }

  .profile-container {
    max-width: 600px;
  }
</style>
{% endblock style %}

{% block script %}
{% endblock script %}
