COMPOSE_PROJECT_NAME=od-tech-shop



###################################################
# PostgreSQL database
###################################################

# Note: Use host postgresql for use docker
POSTGRES_HOST=postgresql
# POSTGRES_HOST=localhost

POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=od-tech-shop



###################################################
# Server config
###################################################

# Support Google Auth
DJANGO_HOST=localhost
DJANGO_PORT=80

# Google OAuth2
CLIENT_ID=
CLIENT_SECRET=

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY=w2dE5mmwkOQ31igyv4oDC2ApjV9gjyHG

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG=true

# Allowed host. Allowed all host is *
ALLOWED_HOSTS=*

# Language and timezone
LANGUAGE_CODE=vi
TIME_ZONE=Asia/Ho_Chi_Minh
