version: '3.8'

services:
  postgresql:
    container_name: postgresql
    restart: always
    build:
      context: .
      dockerfile: postgresql/dockerfile
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - ${POSTGRES_PORT}:5432
    volumes:
      - ./postgresql/data:/var/lib/postgresql/data

  django:
    container_name: django
    restart: always
    depends_on:
      - postgresql
    build:
      context: ../
      dockerfile: docker/django/dockerfile
    ports:
      - ${DJANGO_PORT}:8000
    volumes:
      - ../src:/src
      - ../media:/media
      - ../docker/.env:/.env
    command: bash -c "cd src &&
      python manage.py runserver 0.0.0.0:8000"
