{% extends "base.html" %}

{% load static %}

{% load currency_vnd %}

{% block title %}
Chi tiết sản phẩm
{% endblock title %}

{% block navigation %}
{% include "navigation.html" with path='home' %}
{% endblock navigation %}

{% block main %}
<div class="container my-5">
  <div>
    <h4 class="mb-3">Điện thoại {{product.name}}</h4>
  </div>

  <div class="d-flex align-items-start">
    <div class="flex-grow-1 me-4">
      <div class="mb-4">
        <img class="rounded"
          src="{% if product.thumbnail_image %}{{ product.thumbnail_image.url }}{% else %}{% static 'imgs/default_product.png' %}{% endif %}"
          alt="Hình ảnh sản phẩm" style="width: 12rem; height: 12rem;">
      </div>
      <div class="border bg-body-tertiary rounded shadow-sm p-4">
        {% for attr_group in attributes %}
        <div class="accordion mb-3">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-{{ attr_group.id }}" aria-expanded="true"
                aria-controls="panelsStayOpen-{{ attr_group.id }}">
                {{ attr_group.name }}
              </button>
            </h2>
            <div id="panelsStayOpen-{{ attr_group.id }}"
              class="accordion-collapse collapse {% if forloop.counter == 1 %}show{% endif %}">
              <div class="accordion-body">
                {% for child in attr_group.attribute_set.all %}
                <div class="row mb-2">
                  <div class="col fw-semibold">
                    {{ child.name }}
                  </div>
                  <div class="col">
                    <div name="attr__{{ child.id }}">{{ product_attributes|get_item:child.id|linebreaks }}
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="text-warning bg-danger rounded px-3 py-5">
      <h1 class="text-end mb-3">{{product.price|currency_vnd}}</h1>

      <div class="bg-body px-4 py-5 rounded">
        <div class="mb-3">
          {% if not has_device %}
          <h5 style="color: rgb(165, 165, 0)">
            <i class="fa-solid fa-triangle-exclamation"></i> Sản phẩm đã hết hàng
          </h5>
          {% else %}
          <div class="p-4 bg-white rounded shadow-sm">
            <div class="d-flex flex-column gap-3">
              <a href="{% url 'guest_order_create' product.id %}" class="btn btn-primary fw-bold py-3 fs-5 w-100 rounded-3">
                MUA NGAY
              </a>
              <a href="#" class="btn btn-outline-danger w-100 rounded-3 py-2">
                <i class="fa-solid fa-cart-plus me-2"></i> Thêm vào giỏ
              </a>
            </div>
          </div>
        {% endif %}
        <div class="text-body">
          <i class="fa-solid fa-phone-volume"></i>
          Gọi đặt mua <a href="tel:0784253460" class="text-decoration-none">0784 253 460</a> (8:00 - 21:30)
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main %}

{% block footer %}
{% endblock footer %}

{% block style %}
<style>
</style>
{% endblock style %}

{% block script %}
<script>
</script>
{% endblock script %}
