{% extends "base.html" %}

{% load static %}

{% block title %}
Đăng ký
{% endblock title %}

{% block navigation %}
{% include "navigation.html" with path='auth_register' %}
{% endblock navigation %}

{% block main %}
<div class="container my-4 px-5 py-4 border bg-body-tertiary rounded shadow-sm load-fade register-container">
  <div class="text-center mb-5">
    <img src="{% static 'imgs/logo.jpg' %}" class="w-100 rounded-circle logo">
  </div>

  <form method="post">

    {% csrf_token %}

    <div class="form-floating mb-3">
      <input type="text" name="phone_number" class="form-control" id="phone_number" placeholder=""  value="{{ form.phone_number.value|default_if_none:'' }}" autofocus>
      <label for="phone_number">
        <i class="fa-solid fa-phone me-1"></i>
        Số điện thoại
      </label>
      {% include 'field_errors.html' with name='phone_number' %}
    </div>

    <div class="form-floating mb-3">
      <input type="password" name="password" class="form-control" id="password" placeholder=""
        value="{{ form.password.value|default_if_none:'' }}" >
      <label for="password">
        <i class="fa-solid fa-key me-1"></i>
        Mật khẩu
      </label>
      {% include 'field_errors.html' with name='password' %}
    </div>

    <div class="form-floating mb-3">
      <input type="password" name="password_confirm" class="form-control" id="password_confirm" placeholder=""
        value="{{ form.password_confirm.value|default_if_none:'' }}" >
      <label for="password_confirm">
        <i class="fa-solid fa-key me-1"></i>
        Nhập lại mật khẩu
      </label>
      {% include 'field_errors.html' with name='password_confirm' %}
    </div>

    <div class="d-grid mb-5">
      <button type="submit" class="btn btn-secondary" id="register_submit_btn">
        {% if is_exist_user %}
        Đăng ký
        {% else %}
        Tạo tài khoản Admin
        {% endif %}
      </button>
    </div>

    {% if is_exist_user %}
    <hr>

    <div class="text-end">
      Bạn đã có tài khoản? <a href="{% url 'auth_login' %}">Đăng nhập</a>
    </div>

    {% endif %}

  </form>
</div>
{% endblock main %}

{% block style %}
<style>
  .register-container {
    max-width: 450px;
  }

  .logo {
    max-width: 200px;
  }
</style>
{% endblock style %}

{% block script %}
<!-- <script>
  const currentPassword = document.getElementById('password')
  const passwordConfirm = document.getElementById('password_confirm')

  passwordConfirm.addEventListener('input', () => {
    if (currentPassword.value !== passwordConfirm.value) {
      document.getElementById('password_confirm_errors').style.display = 'block'
      document.getElementById("register_submit_btn").disabled = true;
      return
    }

    document.getElementById('password_confirm_errors').style.display = 'none'
    if (currentPassword.value.length > 0)
      document.getElementById("register_submit_btn").disabled = false;
  })
</script> -->
{% endblock script %}
