{% extends "base.html" %}

{% load currency_vnd %}
{% load static %}

{% block title %}
Tạo đơn
{% endblock title %}

{% block navigation %}
{% include "navigation.html" with path='order' %}
{% endblock navigation %}

{% block main %}
<div class="container my-5 border rounded shadow-sm p-4 bg-body-tertiary order-container">
  <form method="post">
    {% csrf_token %}

    <div class="mb-3">
      <label class="form-label">Số điện thoại người mua</label>
      <input type="text" name="buyer_phone_number" class="form-control" pattern="^0\d{9}$"
        value="{{ form.buyer_phone_number.value|default_if_none:'' }}" required>
      {% include 'field_errors.html' with name='buyer_phone_number' %}
    </div>

    <div class="mb-3">
      <label class="form-label">Mã sản phẩm</label>
      <input type="text" name="device_id" class="form-control" placeholder="device_xxx"
        value="{{ form.device_id.value|default_if_none:'' }}" required>
      {% include 'field_errors.html' with name='device_id' %}
    </div>

    <div class="mb-3">
      <label class="form-label">Địa chỉ giao hàng</label>
      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" id="isReceiveInStoreCheckbox" name="is_receive_in_store"
          onchange="isDisableAddress()" {% if form.is_receive_in_store.value %}checked{% endif %}>
        <label class="form-check-label" for="isReceiveInStoreCheckbox">
          Nhận tại cửa hàng?
        </label>
      </div>
      <input type="text" name="address" id="addressInput" class="form-control"
        value="{{ form.address.value|default_if_none:'' }}">
      {% include 'field_errors.html' with name='address' %}
    </div>

    <div class="mb-5">
      <label class="form-label">Phương thức thanh toán</label>
      <ul class="list-group">
        <li class="list-group-item">
          <input checked class="form-check-input me-1" type="radio" name="payment_method" value="cash" id="cashPayment">
          <label class="form-check-label" for="cashPayment">Tiền mặt</label>
        </li>
        <li class="list-group-item">
          <input {% if form.payment_method.value == 'viet-qr' %}checked{% endif %} class=" form-check-input me-1"
            type="radio" name="payment_method" value="viet-qr" id="vietQRPayment">
          <label class="form-check-label" for="vietQRPayment">Chuyển khoản</label>
        </li>
      </ul>
      {% include 'field_errors.html' with name='payment_method' %}
    </div>

    <div>
      <button type="submit" class="btn btn-outline-primary">
        Tiếp theo <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
  </form>
</div>
{% endblock main %}

{% block footer %}
{% endblock footer %}

{% block style %}
<style>
  .order-container {
    max-width: 500px;
  }
</style>
{% endblock style %}

{% block script %}
<script>
  const addressInputEl = document.querySelector('#addressInput')
  const isReceiveInStoreCheckboxEle = document.querySelector('#isReceiveInStoreCheckbox')

  function isDisableAddress() {
    addressInputEl.disabled = isReceiveInStoreCheckboxEle.checked

    if (isReceiveInStoreCheckboxEle.checked)
      addressInputEl.value = ''
  }

  isDisableAddress()
</script>
{% endblock script %}
