{% extends "base.html" %}

{% block title %}
Tạo đơn thành công
{% endblock title %}

{% block navigation %}
{% include "navigation.html" with path='order' %}
{% endblock navigation %}

{% block main %}
<div class="container my-5 border rounded shadow-sm p-4 bg-body-tertiary order-container">
  <img class="w-100" src="https://img.vietqr.io/image/VCB-1054093359-print.png?amount={{amount}}&addInfo={{message}}">
</div>
{% endblock main %}

{% block footer %}
{% endblock footer %}

{% block style %}
<style>
  .order-container {
    max-width: 500px;
  }
</style>
{% endblock style %}

{% block script %}
<script>
</script>
{% endblock script %}
