<ul class="list-unstyled">
  <li class="mb-3">
    <a class="text-start py-2 btn btn-outline-primary w-100 {% if path == 'users' %}active{% endif %}"
      href="{% url 'users_list' %}">
      <i class="fa-solid fa-users-line me-1"></i> Quản lý tài khoản
    </a>
  </li>
  <hr>
  <li class="mb-3">
    <a class="text-start py-2 btn btn-outline-primary w-100 {% if path == 'products' %}active{% endif %}"
      href="{% url 'products_list' %}">
      <i class="fa-solid fa-mobile me-1"></i> Quản lý sản phẩm
    </a>
  </li>
  <li class="mb-3">
    <a class="text-start py-2 btn btn-outline-primary w-100 {% if path == 'attributes' %}active{% endif %}"
      href="{% url 'attributes_list' %}">
      <i class="fa-solid fa-gears me-1"></i> Thuộc tính sản phẩm
    </a>
  </li>
  <li class="mb-3">
    <a class="text-start py-2 btn btn-outline-primary w-100 {% if path == 'orders' %}active{% endif %}"
      href="{% url 'orders_list' %}">
      <i class="fa-solid fa-cart-shopping"></i> Quản lí đơn hàng
    </a>
  </li>
</ul>
